
<div *ngIf="!resumo">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <label for="">Digite a URL</label>
      <input type="text" formControlName="url" [(ngModel)]="texto.link">
      <label for=""> Ex: http://www.site.com</label>
    </div>
    <div>
      <br>
      <button [disabled]="!myForm.valid" type="submit" (click)="salvar()">Sumarizar</button>
      <br>
    </div>
  </form>
</div>
<div *ngIf="resumo">
  <div>
    <h1>
        <div style="text-align: left;font-size: 30px;">Sumarização: </div>
        <br>
        <html style="font-size: 20px;font-family: 'Times New Roman', Times, serif;">{{ resumo }}
        </html>

    </h1>
    <p style="font-size: 15px;"><a href="{{texto.link}}" target="_blank"> {{texto.link}}</a></p>
</div>

<br>
<button (click)="voltar()">Voltar</button> 
</div>
